
  <ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      
        <img src="/assets/healthcare11.jpeg" width="1300px" height="490px" alt="Random first slide">
        <div class="carousel-caption">
          <h1><strong>HEALTHCARE SERVICE CORPORATION</strong></h1>
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          <p><button mat-raised-button color="primary" (click)="getHome()">GET STARTED</button></p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
      
        <img src="/assets/healthcare22.jpg" width="1300px" height="490px" alt="Random second slide">
      
        <div class="carousel-caption">
          <h1><strong>HEALTHCARE SERVICE CORPORATION</strong></h1>
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          <p><button mat-raised-button color="primary" (click)="getHome()">GET STARTED</button></p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
      
      <img src="/assets/healthcare26.jpg" width="1300px" height="490px" alt="Random first slide">
      
      <div class="carousel-caption">
        <h1><strong>HEALTHCARE SERVICE CORPORATION</strong></h1>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <p><button mat-raised-button color="primary" (click)="getHome()">GET STARTED</button></p>
      </div>
    </ng-template>
  </ngb-carousel>
  